<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [2]:
x = 40
y = x + 2
print(y)

42

In [3]:
y = 40
y = y + 2
print(y)

42

In [4]:
x = y = 10
print(y)

10

### 1.2 Shorter and cleaner

In [5]:
y = 40
y += 2    # Same as y = y + 2
print(y)

42

In [6]:
y = 40
y -= 2     # Same as y = y - 2
print(y)

38

In [7]:
y = 40
y /= 2    # Same as y = y/2
print(y)

20.0

In [8]:
y = 40
y *= 2    # Same as y = y * 2
print(y)

80

### 1.3 Asking questions

In [15]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

("apple" in fruits) and ("celery" in vegetables)

True

In [16]:
'apples' > 'oranges'

False

In [18]:
(x > 5) and (x < 15)

False

In [19]:
5 < x < 15

True

### 1.4 There is more to if

In [20]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Hero | Batman!

### 1.5 Python stores information in different formats or types.

In [21]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [22]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [23]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [24]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

In [25]:
x = '1.234'
print(x, type(x))

1.234 <class 'str'>

In [26]:
x = float(x)
print(x, type(x))

1.234 <class 'float'>

### 1.6 Combining English and variables

In [27]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [28]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [29]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [30]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [31]:
print(f'{text:>30}')      # A block of 30 characters; aligned right

        Bruce Wayne is Batman.

In [32]:
print(f'{text:^30}')      # A block of 30 characters; aligned centre

    Bruce Wayne is Batman.

In [33]:
print(f'{text:<30}')      # A block of 30 characters; aligned left

Bruce Wayne is Batman.

In [34]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [35]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [ ]:
#Python throws errors when the code doesn't make sense to the interpreter

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

Write programs for people, not computers.
Optimise software only after it works correctly.
Document design and purpose, not mechanics.
Collaborate.

### 2.2 Getting help.

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [10]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello("Batman")

Hello BATMAN!

## Exercise 2 :  Bias for some heroes, continues

In [23]:
def hello(name):
    if name.lower() == "batman":
        print(f"Hello {name.upper()}!")
    elif name.lower() == "black widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"Hello {name.lower()}!")
hello("AqUAman")

Hello aquaman!

## Exercise 3 :  Look for help to replace

In [28]:
string = "The Joker lives in Gotham City."

#replace instances of 'Joker' with 'Batman'

new_string = string.replace('Joker','Batman')

print(new_string)

The Batman lives in Gotham Batman City.